/*报名提示*/

.Alert__mask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

.Alert {
  z-index: 999;
  height: 20vh;
  width: 20vw;
  min-width: 250px;
  background: rgba(0, 0, 0, 0.7);
  color: #ffc519;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2vh;
  border-radius: 10px;
}

.Alert header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #ffc519;
  height: 3.5vh;
  min-height: 8px;
  width: 100%;
}

.Alert main {

}

.Alert__OkButton {
  height: 3vh;
  width: 8vw;
  font-size: 1rem;
  min-width: 10px;
  max-width: 140px;
  background: #ffc519;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Alert__OkButton:hover {
  color: white;
}
