.App {
  height: 510px;
  width: 1200px;
  margin: 0 auto;
  padding:90px 0;
  overflow: auto;
}

.Sidebar {
  padding-right: 50px;
  float: left;
}

.Sidebar li {
  width: 185px;
  height: 50px;
  font-size: 20px;
  background: grey;
  border-bottom: 1px solid white;
}

.Sidebar__Link {
  display: block;
  line-height: 50px;
  text-align: center;
}

.Sidebar__Link.active, .Sidebar__Link:hover {
  background: #ffc519;
}

.Sidebar .Sidebar__last {
  height: 240px;
  background-image: url('../image/news-call.png');
}

.Siderbar footer {

}

.NoMatch {
  width: 960px;
  height: 500px;
  font-size: 1.1rem;
  padding-top: 10px;
}

.News {
  width: 960px;
  float: left;
}

.News__ul {
  float: left;
  height: 506px;
  overflow:auto;

}

.News__List {
  width: 480px;
  height: 100px;
  vertical-align:middle;
  border-top: 1px solid grey;
}

.News__List:last-child {
  border-bottom: 1px solid grey;
}

.News__Date {
  width: 80px;
  display: inline-block;
  margin-top: 22px;
  vertical-align: middle;
}

.News__Date header {
  background: #999999;
  width: 60px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.News__Date footer {
  background: #999999;
  width: 60px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  /* display: flex;
   align-items: center;
   justify-content: center;*/
  font-size: 0.8rem;
}

.News__Content {
  width: 386px;
  font-size: 14px;
  display: inline-block;
  margin-top: 16px;
  vertical-align: middle;
}

.News__Content a {
  display: block;
  font-size: 18px;
  padding-bottom: 8px;
}

.News__Content a:hover {
  color: #ffc519;
}

.News__Photos {
  width: 430px;
  height: 500px;
  display: inline-block;
  float: right;
}

.News__Photos .bigPic {
  height: 260px;
  width: 430px;
  margin-bottom: 20px;
}

.News__Photos .smallPic {
  height: 218px;
  width: 207px;
}
.News__Photos .smallPic:nth-of-type(2){
  margin-right: 16px;
}
.Videos {
  float: left;
  width: 960px;
  height: 500px;
}

.Videos__Banner {
  width: 100%;
  height: 260px;
}

